/**********************************************
 * Name:Michael Osorio
 * Date: 10/31/14
 * Pledge:I pledge my honor that I have abided by the Stevens Honor System
 * Quiz - CSS3 Hackathon
 *********************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Georgia', sans-serif;
}
body {
  background-color: darkgray;

}
#wrapper {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 75%;
  margin: 40px 0;
  max-width: 1024px;
  min-height: 360px;
  box-shadow: 10px 10px 10px black;
  -webkit-box-shadow: 10px 10px 10px black;
  -ms-box-shadow: 10px 10px 10px black;
  -moz-box-shadow: 10px 10px 10px black;
  -o-box-shadow: 10px 10px 10px black;

}
/* Place header styles here. */
header {
  font-size: 30px;
  text-align: left;
}
header>p {
  font-size: 20px;
  text-align: left;
}
  
  
#upper img {
  max-width: 100%;
  max-height: 100%;

}
#upper figcaption {
  text-align: right;
  font-style: italic;
  font-size: 18px;

}
#content {
  columns: 250px 3;
  -webkit-columns: 250px 3;
  -moz-columns: 250px 3;
  -o-columns: 250px 3;
  -ms-columns: 250px 3;
  column-gap: 15px;
  -webkit-column-gap: 15px;
  column-rule: thin gray solid;
  -webkit-column-rule: thin gray solid;
 
}
#content p {
  text-indent: inherit;
  text-align: justify;
  white-space: normal;
  
}
/* Place anchor styles here. */
body header nav, body footer nav {
  clear:both;
  background-color: black;
  padding: 3px 0px;
  width:100%;
  display:table;
  text-decoration: none;
}
body header nav ul, body footer nav ul {
  list-style: none;
  display: table-row;
  padding: 0px;
}
body header li, body footer li {
  display: inline;
  color: white;
  margin: 0px 30px;
  text-align: center;
  display: table-cell;
}
/* End anchor styles here. */
@media print {
  #content {
    width: 100%;

  }
}
  #wrapper {
    width: 90%;
    margin: 10px auto;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none
    -ms-box-shadow: none
    -o-box-shadow: none
    -moz-box-shadow: none

  }
}
