*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: linear-gradient(darkblue, lightgray);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#wrapper {
  width: 75%;
  margin: 40px auto;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 10px black;
  -moz-box-shadow: 10px 10px 10px black;
  -ms-box-shadow: 10px 10px 10px black;
  -o-box-shadow: 10px 10px 10px black;
  box-shadow: 10px 10px 10px black;
}
h1 {
  text-align: center;
  padding: 5px 0;
}
section {
  -webkit-columns: 350px 2;
  -moz-columns: 350px 2;
  -ms-columns: 350px 2;
  -o-columns: 350px 2;
  columns: 350px 2;
  
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
  
  -webkit-column-rule: thin gray solid;
  -moz-column-rule: thin gray solid;
  -ms-column-rule: thin gray solid;
  -o-column-rule: thin gray solid;
  column-rule: thin gray solid;
}
@media print {
  #wrapper {
    width: 75%;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    box-shadow: none;
}
}